<div class="flex flex-col w-4/12 h-11/12 items-center">
    <button onclick="window.location.href = './Complaint';"
            class="bg-[#D8F3DC] w-3/6 p-8 rounded-xl text-xl font-semibold text-[#1B4332] hover:cursor-pointer">
        Register Complaint
    </button>
    <div class="mt-5"></div>
    <button onclick=""
            class="bg-[#2F6A50] w-3/6 p-8 rounded-xl text-xl font-semibold text-[#D8F3DC] hover:cursor-pointer">
        Check Status
    </button>
</div>