@{
    ViewData["Title"] = "CMH";
}
<!doctype html>
<html>

    <partial name="_Header" />

<body>
    <div class="flex flex-col w-screen h-screen justify-center items-center">

        <div class="flex flex-row justify-evenly items-center w-screen h-screen">

            <div class="w-2/12">
                <img src="\img\logo.png">
            </div>

            <!-- create a vertical divider here -->
            <div class="border-r-2 border-[#2F6A50] h-80"></div>

            <div class="flex flex-col w-4/12 h-11/12 items-center">

                <a asp-action="RegisterComplaint" asp-controller="Home" class="w-5/6">
                    <button class="w-full bg-[#D8F3DC] p-8 rounded-xl text-xl font-semibold text-[#1B4332] hover:cursor-pointer">
                        Register Complaint
                    </button>
                </a>

                <div class="mt-5"></div>

                <a class="w-5/6 bg-red-100">
                    <button class=" w-full bg-[#2F6A50] p-8 rounded-xl text-xl font-semibold text-[#D8F3DC] hover:cursor-pointer">
                        Check Status
                    </button>
                </a>
                

            </div>
        </div>
    </div>
</body>

</html>

