@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>

<partial name="_Header"></partial>

<body>
    <div class="flex flex-col w-screen h-screen justify-center items-center mainBody">
        <div class="flex flex-row justify-evenly items-center w-screen h-screen">
            <div class="w-2/12">
                <img src="\img\logo.png" />
            </div>
            <div>
                <!-- cr eate a vertical divider here -->
                <div class="border-r-2 border-[#2F6A50] h-80"></div>
            </div>
            <div class="flex flex-col w-4/12 h-11/12 items-center show">
                <div class="topBar rounded-full w-3/12 p-2 flex flex-row justify-between items-center absolute -mt-8">
                    <div class="flex flex-row w-12 h-12 rounded-full bg-[#D8F3DC] justify-center items-center">
                        <h1 class="text-xl font-semibold text-[#1B4332] showNumber">1</h1>
                        <img src="\img\check.png" class="w-6 h-6 checkImg hidden">
                    </div>
                    <div class="flex flex-row w-12 h-12 rounded-full bg-[#D8F3DC] justify-center items-center">
                        <h1 class="text-xl font-semibold text-[#1B4332] showNumber2">2</h1>
                    </div>
                    <div class="flex flex-row w-12 h-12 rounded-full bg-[#D8F3DC] justify-center items-center">
                        <h1 class="text-xl font-semibold text-[#1B4332]">3</h1>
                    </div>
                </div>
                <form class="flex flex-col w-full h-full complaintentForm p-12 rectBox" onsubmit="stopRefresh()">
                    <h1 class="text-2xl font-semibold text-[#2F6A50] mt-5">
                        Complaintent Information
                    </h1>
                    <div class="flex flex-col mt-4">
                        <h1 class="w-full">Name of Complaintent</h1>
                        <input type="text" placeholder="شکایت  کنندہ  کا  نام" name="cname" id="cname" minlength="3"
                               class="w-full text-xl p-5 bg-[#FAFFFA] rounded-lg placeholder-[#43916DCC] text-[#2F6A50]"
                               required />
                    </div>

                    <div class="flex flex-col mt-4">
                        <h1 class="w-full">Mobile Number</h1>
                        <input type="number" placeholder="موبائل  نمبر" name="phone" id="phone" minlength="10"
                               maxlength="15" required
                               class="w-full text-xl p-5 bg-[#FAFFFA] placeholder-[#43916DCC] rounded-lg text-[#2F6A50]" />
                    </div>
                    <div class="flex flex-col mt-4">
                        <h1 class="w-full">CNIC of Complaintent</h1>
                        <input type="text" placeholder="شکایت کنندہ کا شناختی کارڈ نمبر" name="cnic" id="cnic"
                               class="w-full text-[#2F6A50] text-xl p-5 bg-[#FAFFFA] placeholder-[#43916DCC] rounded-lg text-[#2F6A50]" />
                        <!-- required> -->
                    </div>
                    <input type="submit" value="Continue" onclick="showDoctorForm()"
                           class="w-full text-xl mt-12 p-5 bg-[#2F6A50] text-[#D8F3DC] font-semibold rounded-lg text-[#2F6A50] hover:cursor-pointer" />
                </form>
                <form class="flex flex-col w-full h-full p-12 rectBox docForm hidden" onsubmit="stopRefresh()">
                    <h1 class="text-2xl font-semibold text-[#2F6A50] mt-5">
                        Complaint Against
                    </h1>
                    <div class="flex flex-col mt-4">
                        <h1 class="w-full">Doctor/Staff Name</h1>
                        <input type="text" placeholder="ڈاکٹر کا نام" name="dname" id="dname" minlength="3"
                               class="w-full text-xl p-5 bg-[#FAFFFA] rounded-lg placeholder-[#43916DCC] text-[#2F6A50]"
                               required />
                    </div>
                    <div class="flex flex-col mt-4">
                        <h1 class="w-full">Chose Department</h1>
                        <select name="departname" id="departname" placeholder="Department Name" style="direction: rtl"
                                onchange="validateselectdepart()"
                                class="w-full text-[#2F6A50] text-xl p-5 bg-[#FAFFFA] placeholder-[#43916DCC] rounded-lg text-[#2F6A50]"
                                required>
                            <option value="-1">ڈیپارٹمنٹ</option>
                        </select>
                    </div>
                    <div class="flex flex-col mt-4">
                        <h1 class="w-full">Room Number (if possible)</h1>
                        <input type="text" placeholder="کمرہ نمبر" name="Roomno" id="Roomno" minlength="1"
                               onchange="validateselectdepart()"
                               class="w-full text-xl p-5 bg-[#FAFFFA] placeholder-[#43916DCC] rounded-lg text-[#2F6A50]" />
                    </div>
                    <div class="flex flex-col mt-4">
                        <div class="flex flex-row">
                            <h1 class="w-full" style="text-align: left">Date of Issue</h1>
                            <h1 class="w-full" style="text-align: right">شکایت کی تاریخ</h1>
                        </div>
                        <input type="datetime-local" name="DateofIssue" id="DateofIssue" placeholder="شکایت کی تاریخ"
                               min="2018-00-00T00:00" max="2030-06-14T00:00"
                               class="appearance-none text-xl w-full p-5 bg-[#FAFFFA] placeholder-[#43916DCC] rounded-lg"
                               required />
                    </div>
                    <input type="submit" value="Continue" onclick="showComplaintForm()"
                           class="w-full text-xl mt-12 p-5 bg-[#2F6A50] text-[#D8F3DC] font-semibold rounded-lg text-[#2F6A50] hover:cursor-pointer" />
                </form>
            </div>
        </div>
    </div>

    <div class="flex flex-col w-screen h-screen justify-center items-center complaintentForm">
        <div class="flex flex-row justify-evenly items-center w-screen h-screen">
            <div class="flex flex-col w-4/12 h-11/12 items-center">
                <div class="topBar rounded-full w-3/12 p-2 flex flex-row justify-between items-center absolute -mt-8">
                    <div class="flex flex-row w-12 h-12 rounded-full bg-[#D8F3DC] justify-center items-center">
                        <img src="\img\check.png" class="w-6 h-6">
                    </div>
                    <div class="flex flex-row w-12 h-12 rounded-full bg-[#D8F3DC] justify-center items-center">
                        <img src="\img\check.png" class="w-6 h-6">
                    </div>
                    <div class="flex flex-row w-12 h-12 rounded-full bg-[#D8F3DC] justify-center items-center">
                        <h1 class="text-xl font-semibold text-[#1B4332]">3</h1>
                    </div>
                </div>
                <form action="./submissionComplete.php" method="POST" name="submitcompform"
                      class="flex flex-col w-full h-full p-12 rectBox">
                    <h1 class="text-2xl font-semibold text-[#2F6A50] mt-5">Complaint</h1>
                    <textarea placeholder="Enter Your complaint here"
                              class="w-full text-xl mt-10 p-5 bg-[#FAFFFA] rounded-lg placeholder-[#43916DCC] text-[#2F6A50]"
                              rows="10" name="complaint" id="complaint" minlength=30 required></textarea>
                    <input type="submit" value="Submit" name="submitcompform"
                           class="w-full text-xl mt-6 p-5 bg-[#2F6A50] text-[#D8F3DC] font-semibold rounded-lg text-[#2F6A50] hover:cursor-pointer">
                </form>

            </div>
            <div>
                <!-- create a vertical divider here -->
                <div class="border-r-2 border-[#2F6A50] h-80"></div>
            </div>
            <div class="flex flex-col w-4/12 h-11/12 items-center">
                <div class="topBar rounded-full w-3/12 p-2 flex flex-row justify-between items-center absolute -mt-8">
                    <div class="flex flex-row w-12 h-12 rounded-full bg-[#D8F3DC] justify-center items-center">
                        <img src="\img\check.png" class="w-6 h-6">
                    </div>
                    <div class="flex flex-row w-12 h-12 rounded-full bg-[#D8F3DC] justify-center items-center">
                        <img src="\img\check.png" class="w-6 h-6">
                    </div>
                    <div class="flex flex-row w-12 h-12 rounded-full bg-[#D8F3DC] justify-center items-center">
                        <h1 class="text-xl font-semibold text-[#1B4332]">3</h1>
                    </div>
                </div>

                <div class="flex flex-col w-full h-full p-12 rectBox">
                    <h1 class="text-2xl font-semibold text-[#2F6A50] mt-5">Record your Complaint</h1>
                    <div class="controllers w-full text-center mt-4 text-xl p-2 bg-[#2F6A50] text-[#D8F3DC] font-semibold rounded-lg text-[#2F6A50] hover:cursor-pointer">
                    </div>
                    <div class="flex flex-col justify-evenly">
                        <div class="display w-full font-semibold mt-2 text-center items-center">
                        </div>
                        <button name="recsubmit" id="recsubmit"
                                class="w-full text-xl p-5 bg-[#2F6A50] text-[#D8F3DC] font-semibold rounded-lg text-[#2F6A50] hover:cursor-pointer">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showDoctorForm() {
            document.querySelector(".docForm").classList.remove("hidden");
            document.querySelector(".complaintentForm").classList.add("hidden");
            document.querySelector(".showNumber").classList.add("hidden");
            document.querySelector(".checkImg").classList.remove("hidden");
        }
        function stopRefresh() {
            event.preventDefault();
        }
        function showComplaintForm() {
            document.querySelector(".complaintentForm").classList.remove("hidden");
            document.querySelector(".docForm").classList.add("hidden");
            document.querySelector(".mainBody").classList.add("hidden");
        }
    </script>
</body>

</html>