@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Tailwind.js"></script>
    <link rel="stylesheet" href="/Custom.css">
    <title>
        @if (ViewData["Title"] != null)
        {
            @ViewData["Title"]
        }
        else
        {
            ViewData["Title"] = "CMH_LAHORE";
            @ViewData["Title"];
        }
    </title>
</head>
