@{
    Layout = "";
}

<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Tailwind.js"></script>
    <link rel="stylesheet" href="/Custom.css">
</head>

<body>
    @*<script src="https://kit.fontawesome.com/8ed36584a1.js" crossorigin="anonymous"></script>*@
    <div class="flex flex-col w-screen h-screen justify-center items-center">
        <div class="flex flex-row justify-evenly items-center w-screen h-screen">
            <div class="w-2/12">
                <img src="/img/logo.png">
            </div>
            <div>
                <!-- cr eate a vertical divider here -->
                <div class="border-r-2 border-[#2F6A50] h-80"></div>
            </div>
            @RenderBody()
        </div>
    </div>
</body>

</html>