<select name="CurrentComplaintStatus" id="CurrentComplaintStatus">
    @{
        <option value="0">Open</option>
        <option value="1">Forwaded</option>
        <option value="2">Allocated to Department</option>
        <option value="3">Partially Resolved </option>
        <option value="4">Resolved </option>
        <option value="5">Considered Junk/Fake </option>
     }
</select>